<div class="formulario">
    <input type="text" placeholder="NOMBRE DE USUARIO" [(ngModel)]="username">
    <input type="password" placeholder="CONTRASEÑA" [(ngModel)]="password">
    <button (click)="onLogin()">INICIAR SESION</button>
    <button routerLink="/crearCuenta">CREAR CUENTA</button>

    
</div>
<div class="contenedor">
        <div class="derecho">
            <img src="login/hombreLogin.png" alt="">
            <img src="login/mujerLogin.png" alt="">
            <img src="login/ninoLogin.png" alt="">
            <img src="login/ninaLogin.png" alt="">
        </div>
    <img src="icono.png" class="logo" alt="">
</div>
