<div class="formulario">
    <!-- <input type="text" placeholder="NOMBRE DE USUARIO" [(ngModel)]="username"> -->
    <!-- <input type="password" placeholder="CONTRASEÑA" [(ngModel)]="password"> -->
    <!-- <button (click)="onLogin()">INICIAR SESION</button> -->
     <!-- <input type="text" placeholder="NOMBRE" [(ngModel)]="nombre">
     <input type="text" placeholder="APELLIDOS" [(ngModel)]="apellidos">
     <input type="text" placeholder="EMAIL" [(ngModel)]="email">
     <input type="text" placeholder="NOMBRE DE USUARIO" [(ngModel)]="username">
     <input type="password" placeholder="CONTRASEÑA" [(ngModel)]="password">
    <button (click)="onCreateAccount()">CREAR CUENTA</button> -->
    <form class="formulario" (ngSubmit)="onSignup()">
        <input type="text" [(ngModel)]="user.username" name="username" placeholder="Username" required />
        <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required />
        <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required />
        <input type="text" [(ngModel)]="user.nombre" name="nombre" placeholder="First Name" required />
        <input type="text" [(ngModel)]="user.apellidos" name="apellidos" placeholder="Last Name" required />
        <button type="submit">Register</button>
      </form>
</div>
<div class="contenedor">
        <div class="derecho">
            <img src="login/hombreLogin.png" alt="">
            <img src="login/mujerLogin.png" alt="">
            <img src="login/ninoLogin.png" alt="">
            <img src="login/ninaLogin.png" alt="">
        </div>
    <img src="icono.png" class="logo" alt="">
</div>
