<header class="cabeza">
    <img src="icono.png" alt="">
    <nav>
        <a routerLink="/iniciarSesion">iniciar sesión</a>
         <!-- <a href="iniciarSesion">iniciar sesión</a> -->
    </nav>
</header>
<div>
    <div class="hombreClass">
        <h1>HOMBRE</h1>
        <img src="home/hombre.png" alt="">
    </div>
    <div class="mujerClass">
        <h1>MUJER</h1>
        <img src="home/mujer.png" alt="">
    </div>
    <div class="hombreClass">
        <h1>NIÑO</h1>
        <img src="home/niño.png" alt="">
    </div>
    <div class="mujerClass">
        <h1>NIÑA</h1>
        <img src="home/niña.png" alt="">
    </div>
</div>